Datasets/*
Results/*
.ipynb_checkpoints/
VIT/__pycache__/
VIT/class_indices.json
VIT/error/*
VIT/models/*
VIT/results/*
VIT/weights/*
VIT/runs/
VIT/test.py
VIT/train.log
FireNetV1/__pycache__/
FireNetV1/error/*
FireNetV1/models/*
FireNetV1/results/*
FireNetV1/runs/
FireNetV1/class_indices.json
FireNetV1/train.log
FireNetV2/__pycache__/
FireNetV2/error/*
FireNetV2/models/*
FireNetV2/results/*
FireNetV2/runs/
FireNetV2/class_indices.json
FireNetV2/test.py
FireNetV2/train.log
AA-ResNet/__pycache__
AA-ResNet/AA-Wide-ResNet/data/
AA-ResNet/AA-Wide-ResNet/__pycache__/
AA-ResNet/AA-Wide-ResNet/class_indices.json
AA-ResNet/AA-Wide-ResNet/results/
AA-ResNet/AA-Wide-ResNet/reporting/
AA-ResNet/AA-Wide-ResNet/error/
AA-ResNet/AA-Wide-ResNet/train.log
GAN/
MultiScaleViT/
SwinTransformer/swin_base_patch4_window7_224.pth