Datasets/
Model/
Results/
.ipynb_checkpoints/
runs/
VIT/__pycache__/
VIT/class_indices.json
VIT/models/
VIT/results/
VIT/weights/
VIT/runs/
VIT/test.py
FireNetV1/__pycache__/
FireNetV1/error/
FireNetV1/models/
FireNetV1/results/
FireNetV1/runs/
FireNetV1/class_indices.json
FireNetV2/__pycache__/
FireNetV2/error/
FireNetV2/models/
FireNetV2/results/
FireNetV2/runs/
FireNetV2/class_indices.json
FireNetV2/test.py
FireNetV2/train.log
data/
AA-Wide-ResNet/__pycache__
