Datasets/*
Results/*
.ipynb_checkpoints/

VIT/runs/
VIT/class_indices.json
VIT/error/*
VIT/models/*
VIT/results/*
VIT/weights/*
VIT/test.py
VIT/train.log
VIT/__pycache__/

SwinTransformer/runs/
SwinTransformer/class_indices.json
SwinTransformer/error/*
SwinTransformer/models/*
SwinTransformer/results/*
SwinTransformer/weights/*
SwinTransformer/test.py
SwinTransformer/train.log
SwinTransformer/__pycache__/

Resnet-50/runs/
Resnet-50/class_indices.json
Resnet-50/error/*
Resnet-50/models/*
Resnet-50/results/*
Resnet-50/weights/*
Resnet-50/test.py
Resnet-50/train.log
Resnet-50/__pycache__/

MultiScaleViT/runs/
MultiScaleViT/class_indices.json
MultiScaleViT/error/*
MultiScaleViT/models/*
MultiScaleViT/results/*
MultiScaleViT/weights/*
MultiScaleViT/test.py
MultiScaleViT/train.log
MultiScaleViT/__pycache__/

FireNetV1/runs/
FireNetV1/class_indices.json
FireNetV1/error/*
FireNetV1/models/*
FireNetV1/results/*
FireNetV1/weights/*
FireNetV1/test.py
FireNetV1/train.log
FireNetV1/__pycache__/

FireNetV2/runs/
FireNetV2/class_indices.json
FireNetV2/error/*
FireNetV2/models/*
FireNetV2/results/*
FireNetV2/weights/*
FireNetV2/test.py
FireNetV2/train.log
FireNetV2/__pycache__/

VGG16/runs/
VGG16/class_indices.json
VGG16/error/*
VGG16/models/*
VGG16/results/*
VGG16/weights/*
VGG16/test.py
VGG16/train.log
VGG16/__pycache__/